body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e9e9e9;
  height: 100vh;
}

#container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
#sidebar {
  width: 260px;
  background: #1f1f1f;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

#sidebar h2 {
  margin-top: 0;
  color: #f5f5f5;
}

.curso-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.curso-btn:hover {
  background: #444;
}

.lecciones {
  list-style: none;
  padding-left: 15px;
  display: none;
}

.lecciones li {
  padding: 6px;
  cursor: pointer;
}

.lecciones li:hover {
  background: #555;
}

/* CONTENIDO */
#content {
  flex-grow: 1;
  padding: 30px;
  background: white;
  overflow-y: auto;
}

#content h1 {
  margin-top: 0;
}

pre code {
  padding: 15px;
  display: block;
  border-radius: 8px;
  background: #f5f5f5;
}
